DATABASE_URL="postgresql://root:ROOT@localhost:65432/lil?schema=public"
ALLOWED_GROUPS=SVC0187LIL-ADMIN_AppGrpU,SVC0187LIL-COSEC_AppGrpU,SVC0187LIL-USER_AppGrpU
ADMIN_GROUP=SVC0187LIL-ADMIN_AppGrpU
COSEC_GROUP=SVC0187LIL-COSEC_AppGrpU
RO_GROUP=SVC0187LIL-USER_AppGrpU
OIDC_BASE_URL=https://login.microsoftonline.com/f6c2556a-c4fb-4ab1-a2c7-9e220df11c43/v2.0
OIDC_CLIENT_ID=XXX
API_USER=XXX
API_PASSWORD=XXX
RMM_URL=https://rmm-uit-de.jaggaer.com
RMM_ACCESS_KEY=XXX
RMM_ENCRYPTED_KEY=XXX
SMTP_HOST=mail.epfl.ch
SMTP_PORT=587
SMTP_USER=lhd@epfl.ch
LHD_API_PASSWORD=XXX
CATALYSE_EMAIL=service_catalyse@epfl.ch
ENVIRONMENT=DEV
