DATABASE_URL=mysql://root:ROOT@localhost:63306/lil
DATABASE_USER=lil
DATABASE_PASSWORD=lil
DATABASE_NAME=lil
DATABASE_HOST=localhost
DATABASE_PORT=63306
ALLOWED_GROUPS=SVC0187barcode-ADMIN_AppGrpU,SVC0187barcode-COSEC_AppGrpU,SVC0187barcode-USER_AppGrpU
ADMIN_GROUP=SVC0187barcode-ADMIN_AppGrpU
COSEC_GROUP=SVC0187barcode-COSEC_AppGrpU
RO_GROUP=SVC0187barcode-USER_AppGrpU
OIDC_BASE_URL=https://login.microsoftonline.com/f6c2556a-c4fb-4ab1-a2c7-9e220df11c43/v2.0
OIDC_CLIENT_ID=XXXX
